<form method="POST" action="{{ url_for('register_account') }}" class="login-form">
    <input type="text" name="display_name" placeholder="Ваше имя" required>
    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="password" placeholder="Пароль" required>

    {% if invite_token %}
        <input type="hidden" name="invite_token" value="{{ invite_token }}">
        <input type="hidden" name="group_id" value="{{ invited_group_id }}">

        <div class="closed-box" style="text-align:left;">
            Вы регистрируетесь в группу:
            <strong>{{ invited_group_name }}</strong>
        </div>
    {% else %}
        <select name="group_id" required>
            <option value="">Выберите группу</option>
            {% for group in groups %}
                <option value="{{ group['id'] }}">
                    {{ group['name'] }}
                </option>
            {% endfor %}
        </select>
    {% endif %}

    <button type="submit">Отправить заявку</button>
</form>